body{
    font-family: 'Montserrat', sans-serif;
}
.cabecalho{
    background: #CCCCCC;
    padding: 20px 0;/*espaçamento interno*/
}
.caixa-cabecalho{/*caixa para envolver a logo e o menu, para posicionar os elementos*/
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.menu{
    position: absolute; /*posicionamento do menu*/
    top: 110px;/*colocando o menu no meio da pagina*/
    right: 10px;
}
.menu li{ /*todos os li que estão dentro da classe menu*/
    display: inline;/*comportamento de linha*/
    margin: 0 0 0 15px;
   
}
.menu a{
    text-transform: uppercase;/*transforma todo o texto para maiusculo*/
    color: #000000;
    font-weight: bold;/*peso do texto - negrito*/
    font-size: 22px;/*tamanho da fonte*/
    text-decoration: none;/*sem decorações no texto - sem sublinhado*/
    
}
.menu a:hover{ /*passada do mouse*/
    color: #c78c19;
    text-decoration: underline;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;/*alinha os elementos pela linha debaixo, por isso vamos usar a propriedade vertical-align: top, para alinhar pela linha de cima*/
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%; /*0 de margem pra cima e pra baixo e 1,5 para cada lado*/
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;/*colocando borda*/
    border-radius: 10px;/*arredondando as bordas*/
}
.produtos li:hover{
    border-color: #c78c19; /*colocando cor na borda quando passar o mouse por cima*/
    cursor: pointer;
}
.produtos li:active{ /*clique do mouse*/
    border-color: #088c19;
}
.produtos li:hover h2{/*quando o mouse passar por cima do li, o h2 que está lá dentro passará a ter 40px de tamanho*/
    font-size: 30px;
}
.produtos h2{
    font-size: 24px;
    font-weight: bold;
}
.descricao{
    font-size: 18px;
    
}
.preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}
footer{
    text-align: center;
    background:url(img/produtos/bg.jpg);
    padding: 40px 0;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
.contato-principal{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
    
    
}
form label, form legend {/*transformando as labels em elementos de bloco*/
    display: block;
    font-size: 20px;
    margin: 0 0 10px; /*aumentando o espaço entre a label e o input. colocando uma margem de 10px abaixo*/
}
.input-padrao{/*transformando os inputs e textarea em elementos de bloco*/
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;/*20px de margem pra cima e pra baixo e 0 para os lados*/
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;/*aumentando a transição de movimento de mouse para 1segundo*/
    cursor: pointer;/*mudando o cursor para a maozinha, para que o user saiba que é algo clicavel*/
    
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
    /*transform: rotate(70deg) scale(1.2);deg é a medida para graus. usando a propriedade rotato, podemos rotacionar o elemento*//*quando passamos o mouse por cima do elemento, aumentamos em 20% o tamanho do elemento*/
    
}
table{
    margin: 20px 0 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}
/*css página inicial - home*/
.banner{
    width: 100%;

}
.titulo-principal{
    text-align: center;
    font-size: 2em;/*2 vezes a fonte base*/
    margin: 0 0 1em;/*em proporcional ao tamanho da fonte*/
    clear: left;/*para limpar o float, para os elementos não subirem*/
    /*criando sombra no título
    text-shadow: 2px 2px  red;*/
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
   font-style: italic; 
}
.utensilios{
    width: 120px;
    float: left;/*posicionando a imagem*/
    margin: 0 20px 20px 0;
}
.mapa{
    padding: 3em 0;/*espaçamento interno*/
    background: linear-gradient(#FEFEFE, #888888);
}
.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}
.mapa p{
    margin: 0 0 2em;/*espaçamento abaixo do parágrafo será de 2em*/
    text-align: center;
}

.beneficios{
    padding: 3em 0;
    background: #888888;
    /*inset: sombra interna ao elemento
    box-shadow: inset 0 0 30px #FF0000;*/
   
}
.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}
.lista-beneficios{
    width: 40%;
    display: inline-block;/*quando usamos inline block precisamos tirar todo e qualquer espaço dentro do html, pois ele considera todos os espaços*/
    vertical-align: top;
}
.itens{
    line-height: 1.5em;/*altura da linha*/
}
.itens:first-child{/*trabalhando com pseudoclasses: first-child: estou marcando o primeiro item da lista e colocando ele em negrito
    first-child: marca o primeiro elemento da lista
    last-child: marca o ultimo elemento da lista
    nth-child(): marca o elemento que definirmos da lista
    nth-child(2n): marca todos os elementos pares da lista
    */
    font-weight: bold;
}
.itens::before{
    content: "★";
}
.img-beneficios{
    width: 60%;
    opacity: 1;/*opacidade do elemento*/
    transition: 400ms;
    /*Adicinando uma sombra na imagem
    box-shadow: eixoX eixoY blur-espalhamento intensidade cor#; 
    Essa propriedade tem um valor pro eixo X, eixo Y e uma cor e ainda podemos colocar o espalhamento da sombra e a intensidade da borda*/
    box-shadow: 10px 10px 10px 0 #000000;
}
.img-beneficios:hover{/*quando o mouse passa por cima do elemento, coloca a opacidade da imagem em 30%*/
    opacity: 0.3;
    
}

.video{
    width: 560px;
    margin: 2em auto;
}
/*Responsivo*/
@media screen and (max-width:480px){
    .caixa-cabecalho, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width: auto;
    }
    h1{
        text-align: center;
    }
    .menu{
       position: static; 
    }
    .img-beneficios, .beneficios{
        width: 100%;
    }
}